/* your css code */

@mixin panel_l_p {
    margin:2px;
    padding:1.5px;
    flex-grow: 1;
    width: 50vw;
    height: 46vh;
}

@mixin panel_u_d { 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 98vw;
    height: 55vh;
    margin:2.5px;
    padding:1px;
}


.Panel{
    position: absolute;
    left:0;
    top:0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction:column;

    &___up{
        @include panel_u_d;
    

        &__left{
            @include panel_l_p;
            background-color: beige;
            overflow-y: auto;
        }
        &__right{
            @include panel_l_p;
            background-color: bisque;
            overflow-y: auto;
        }
    }
    &___down{
        @include panel_u_d;

        &__left{
            @include panel_l_p;
            background-color: aquamarine;
        }
        &__right{
            @include panel_l_p;
            background-color:azure;
            &_label{
                display:block;
                width:100%;
                margin-top:10px;
                padding:6px;
                font-size:18px;
            }
            &_input{
                display:block;
                width:80%;
                margin-top:10px;
                padding:6px;
            }
            &_btn{
                display:block;
                width:40%;
                margin:15px auto;
                padding:6px;
                font-size:16px;
                font-weight: bold;
                text-transform: uppercase;
                border: 1px brown solid;
                background-color: brown;
                color:white;
            }

        }
 }
}


.tabType{
    display: block;
    width:80%;
    height:80%;
    margin: 0 auto;
}
.tabType___table {
    width: 100%;
}

.tabType___table___head{
    width:100px;
}

.tabType___table___head_th{
    width:100%;
    padding: 0 3px;
}

.tabType___table___head_th_0 {
    width: 1%;
}

.tabType___table___head_th_1 {
    width: 80%;
}  

.tabType___table___head_th_2 {
    width: 10%;
}

.tabType___body {
    display: block;
    width:100%;
    }
.tabType___body_id {
    width: 20px;
    padding:1px;
}
.tabType___body_typ {
    width: 90%;
    margin-left:20px;
}

.tabType___body_del{
    width: 10px;
}

.tabType___body_del_btn{
    background-color: brown;
    border:1px black solid;
    color:yellow;
}

.tabType___body_del_btn:hover {
    cursor: pointer;
    background-color:yellow;
    border:1px black solid;
    color: brown;
}

.activate-btn {
    display:block;
    padding: 10px 20px;
    background-color: rgb(240, 212, 212);
    text-transform: uppercase;
    font-weight: bold;
}

.activate-btn:hover {
    cursor: pointer;
    color:yellow;
    background-color:black;
}
